body {
  margin: 0 auto;
}

.gallery {
  max-width: 1128px;
  margin: 24px auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  max-width: calc((100% - 48px) / 3);
}

.gallery-link {
  display: block;
}

.gallery-image {
  max-width: 100%;
}